In [4]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
#RegreSió Lineal
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

#Evluacion del modelo

from sklearn.metrics import mean_absolute_error

In [5]:
df = pd.read_excel("Dataset_final.xlsx")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 295 entries, 0 to 294
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Documento                  295 non-null    int64
 1   Nombre                     295 non-null    object
 2   Apellidos                  295 non-null    object
 3   Direccción                 295 non-null    object
 4   Teléfono                   295 non-null    object
 5   Edad                       295 non-null    int64
 6   Estatura                   295 non-null    float64
 7   Área de residencia         294 non-null    object
 8   Tipo colegio               294 non-null    object
 9   Género                     294 non-null    object
 10  Estrato                    294 non-null    float64
 11  Nota Matematicas           294 non-null    float64
 12  Nota Lecto Escritura       294 non-null    float64
 13  Apoyo económico de padres  294 non-null    object
 14  Último grado cursado       294 non-null    float64
dtypes: float64(5), int64(2), object(8)
memory usage: 34.7+ KB

In [7]:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 294 entries, 0 to 294
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Documento                  294 non-null    int64
 1   Nombre                     294 non-null    object
 2   Apellidos                  294 non-null    object
 3   Direccción                 294 non-null    object
 4   Teléfono                   294 non-null    object
 5   Edad                       294 non-null    int64
 6   Estatura                   294 non-null    float64
 7   Área de residencia         294 non-null    object
 8   Tipo colegio               294 non-null    object
 9   Género                     294 non-null    object
 10  Estrato                    294 non-null    float64
 11  Nota Matematicas           294 non-null    float64
 12  Nota Lecto Escritura       294 non-null    float64
 13  Apoyo económico de padres  294 non-null    object
 14  Último grado cursado       294 non-null    float64
dtypes: float64(5), int64(2), object(8)
memory usage: 36.8+ KB

In [8]:
df.drop_duplicates(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 294 entries, 0 to 294
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Documento                  294 non-null    int64
 1   Nombre                     294 non-null    object
 2   Apellidos                  294 non-null    object
 3   Direccción                 294 non-null    object
 4   Teléfono                   294 non-null    object
 5   Edad                       294 non-null    int64
 6   Estatura                   294 non-null    float64
 7   Área de residencia         294 non-null    object
 8   Tipo colegio               294 non-null    object
 9   Género                     294 non-null    object
 10  Estrato                    294 non-null    float64
 11  Nota Matematicas           294 non-null    float64
 12  Nota Lecto Escritura       294 non-null    float64
 13  Apoyo económico de padres  294 non-null    object
 14  Último grado cursado       294 non-null    float64
dtypes: float64(5), int64(2), object(8)
memory usage: 36.8+ KB