In [1]:

import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [2]:
data = pd.read_csv("dataset_banco.csv")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45215 entries, 0 to 45214
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45215 non-null  int64
 1   job        45213 non-null  object
 2   marital    45214 non-null  object
 3   education  45214 non-null  object
 4   default    45215 non-null  object
 5   balance    45213 non-null  float64
 6   housing    45215 non-null  object
 7   loan       45215 non-null  object
 8   contact    45215 non-null  object
 9   day        45215 non-null  int64
 10  month      45215 non-null  object
 11  duration   45214 non-null  float64
 12  campaign   45215 non-null  int64
 13  pdays      45214 non-null  float64
 14  previous   45215 non-null  int64
 15  poutcome   45215 non-null  object
 16  y          45215 non-null  object
dtypes: float64(3), int64(4), object(10)
memory usage: 5.9+ MB

In [5]:
from pandas_profiling import ProfileReport
report = ProfileReport(data)
report.to_file(output_file='reporte1.html')

C:\Users\angel\AppData\Local\Temp\ipykernel_30444\375774667.py:1: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  from pandas_profiling import ProfileReport

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

C:\Users\angel\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\ydata_profiling\model\correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: 'unknown'')
  warnings.warn(

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [6]:
#Eliminar valores nulos
data= data.dropna()
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45207 entries, 0 to 45214
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45207 non-null  int64
 1   job        45207 non-null  object
 2   marital    45207 non-null  object
 3   education  45207 non-null  object
 4   default    45207 non-null  object
 5   balance    45207 non-null  float64
 6   housing    45207 non-null  object
 7   loan       45207 non-null  object
 8   contact    45207 non-null  object
 9   day        45207 non-null  int64
 10  month      45207 non-null  object
 11  duration   45207 non-null  float64
 12  campaign   45207 non-null  int64
 13  pdays      45207 non-null  float64
 14  previous   45207 non-null  int64
 15  poutcome   45207 non-null  object
 16  y          45207 non-null  object
dtypes: float64(3), int64(4), object(10)
memory usage: 6.2+ MB

In [7]:
#Hacer Consultas
data[data["job"]=="blue-collar"]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
3,47,blue-collar,married,unknown,no,1506.0,yes,no,unknown,5,may,92.0,1,-1.0,0,unknown,no
17,57,blue-collar,married,primary,no,52.0,yes,no,unknown,5,may,38.0,1,-1.0,0,unknown,no
20,28,blue-collar,married,secondary,no,723.0,yes,yes,unknown,5,may,262.0,1,-1.0,0,unknown,no
22,32,blue-collar,single,primary,no,23.0,yes,yes,unknown,5,may,160.0,1,-1.0,0,unknown,no
33,59,blue-collar,married,secondary,no,0.0,yes,no,unknown,5,may,226.0,1,-1.0,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45181,34,blue-collar,married,secondary,no,320.0,yes,no,cellular,12,nov,413.0,1,92.0,3,success,yes
45184,46,blue-collar,married,secondary,no,6879.0,no,no,cellular,15,nov,74.0,2,118.0,3,failure,no
45193,32,blue-collar,married,secondary,no,136.0,no,no,cellular,16,nov,206.0,1,188.0,3,success,yes
45202,34,blue-collar,single,secondary,no,1475.0,yes,no,cellular,16,nov,1166.0,3,530.0,12,other,no
45213,57,blue-collar,married,secondary,no,668.0,no,no,telephone,17,nov,508.0,4,-1.0,0,unknown,no

In [8]:
# Borrar columnas irrelevantes
#data.drop(columns="duration", inplace=True)
data.drop(columns="campaign", inplace=True)
data.drop(columns="pdays", inplace=True)
# data.info()

C:\Users\angel\AppData\Local\Temp\ipykernel_30444\1471378453.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(columns="campaign", inplace=True)
C:\Users\angel\AppData\Local\Temp\ipykernel_30444\1471378453.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(columns="pdays", inplace=True)

In [9]:
#Eliminar Columnas Repetidas
data.drop_duplicates(inplace=True)

C:\Users\angel\AppData\Local\Temp\ipykernel_30444\4263136716.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop_duplicates(inplace=True)

In [10]:
#Eliminar Valores Extremos

#Informacion valores numericos para analizar
data.describe()

#Consulta de personas con edades mayores a 100
data[data["age"]>100]

#Si lo mejor es renombrar data y eliminar datos, manteniendo los que son menores de 100 años
data=data[data["age"]<100]

In [11]:
#Eliminando valores extremos
data[data["previous"]>200]
#Eliminar por index (otra forma de eliminar)
data.drop(index=29184, inplace=True)
data.describe()

                age        balance           day      duration      previous
count  45194.000000   45194.000000  45194.000000  45194.000000  45194.000000
mean      40.936629    1374.022193     15.807076    258.044276      0.574103
std       10.618357    3924.214157      8.322735    257.486374      1.907854
min       18.000000   -8019.000000      1.000000  -1389.000000      0.000000
25%       33.000000      72.000000      8.000000    103.000000      0.000000
50%       39.000000     448.000000     16.000000    180.000000      0.000000
75%       48.000000    1427.750000     21.000000    319.000000      0.000000
max       95.000000  527532.000000     31.000000   4918.000000     58.000000

In [12]:
#Variables con errores tipograficos

#Los datos del campo marital que tiene errores son remplazados por los campos que necesitamos
data["marital"]=data["marital"].str.replace("div.", "divorced", regex=False)
data["marital"]=data["marital"].str.replace("DIVORCED", "divorced", regex=False)
data["marital"]=data["marital"].str.replace("Single", "single", regex=False)

data["marital"].unique()#muestras los valores unicos de agrupamiento(si no tenemos graficas)

array(['married', 'single', 'divorced'], dtype=object)

In [13]:
data["education"].unique()#muestras los valores unicos de agrupamiento(si no tenemos graficas)

data["education"]=data["education"].str.replace("Tertiary", "tertiary", regex=False)
data["education"]=data["education"].str.replace("Secondary", "secondary", regex=False)
data["education"]=data["education"].str.replace("sec.", "secondary", regex=False)
data["education"]=data["education"].str.replace("SECONDARY", "secondary", regex=False)
data["education"]=data["education"].str.replace("Primary", "primary", regex=False)
data["education"]=data["education"].str.replace("UNK", "unknown", regex=False)

In [14]:
data["education"].unique()

array(['tertiary', 'secondary', 'unknown', 'primary'], dtype=object)

In [15]:
data["contact"].unique()

array(['unknown', 'cellular', 'telephone', 'phone', 'mobile'],
      dtype=object)

In [16]:
data["contact"]=data["contact"].str.replace("phone", "telephone", regex=False)
data["contact"]=data["contact"].str.replace("mobile", "cellular", regex=False)
data["contact"]=data["contact"].str.replace("teletelephone", "telephone", regex=False)

data["contact"].unique()

array(['unknown', 'cellular', 'telephone'], dtype=object)

In [17]:
data["month"].unique()

array(['may', 'nov', 'jun', 'jul', 'aug', 'oct', 'dec', 'jan', 'feb',
       'mar', 'apr', 'sep'], dtype=object)

In [18]:
data["poutcome"].unique()

array(['unknown', 'UNK', 'failure', 'other', 'success', 'Success'],
      dtype=object)

In [19]:
data["poutcome"]=data["poutcome"].str.replace("Success", "success", regex=False)
data["poutcome"]=data["poutcome"].str.replace("UNK", "unknown", regex=False)

data["poutcome"].unique()

array(['unknown', 'failure', 'other', 'success'], dtype=object)

In [21]:
data.to_excel("datosMayo20.xlsx" , index=False)

In [24]:
data.drop_duplicates(inplace=True)

In [26]:
data.shape
data.info

<bound method DataFrame.info of        age           job   marital  education default  balance housing loan  \
0       58    management   married   tertiary      no   2143.0     yes   no
1       44    technician    single  secondary      no     29.0     yes   no
2       33  entrepreneur   married  secondary      no      2.0     yes  yes
3       47   blue-collar   married    unknown      no   1506.0     yes   no
4       33       unknown    single    unknown      no      1.0      no   no
...    ...           ...       ...        ...     ...      ...     ...  ...
45210   51    technician   married   tertiary      no    825.0      no   no
45211   71       retired  divorced    primary      no   1729.0      no   no
45212   72       retired   married  secondary      no   5715.0      no   no
45213   57   blue-collar   married  secondary      no    668.0      no   no
45214   37  entrepreneur   married  secondary      no   2971.0      no   no

         contact  day month  duration  previous poutcome    y
0        unknown    5   may     261.0         0  unknown   no
1        unknown    5   may     151.0         0  unknown   no
2        unknown    5   may      76.0         0  unknown   no
3        unknown    5   may      92.0         0  unknown   no
4        unknown    5   may     198.0         0  unknown   no
...          ...  ...   ...       ...       ...      ...  ...
45210   cellular   17   nov     977.0         0  unknown  yes
45211   cellular   17   nov     456.0         0  unknown  yes
45212   cellular   17   nov    1127.0         3  success  yes
45213  telephone   17   nov     508.0         0  unknown   no
45214   cellular   17   nov     361.0        11    other   no

[45194 rows x 15 columns]>